#start
[Unit]
Description=main service pelni sync bulk handler

[Service]
Type=simple
User=root
Group=root
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.

ExecStart= /usr/bin/php "/var/www/html/pelni/services/sync-bulk.php"
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
#end